data/cleaned/*
data/input/*
data/postgres/*
data/output/*
data/temp/*
data/static/demographics/*
data/static/lookup_facilities.csv
!*.gitkeep


*.csv
!config/*
*old*
~*
/static/*
config/cred.json
*.pyc
*.vscode
*/__pycache__
.env
tester.py
pipeline.log
