[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "*"

[packages]
pandas = "*"
psycopg2-binary = "*"
requests = "*"
numpy="*"
scipy="*"
json5 = "==0.9.5"
jsonschema = "==3.2.0"
crontab="*"
argparse="*"
sqlalchemy = "*"
python-dotenv = "*"
pg8000 = "*"
apscheduler = "*"
tenacity = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
